#p{
    margin: auto;
    border: 1px solid silver;
    width: 250px;
    height: 390px;
    background-color: aliceblue;
    border-radius: 5%;
}

#dis{
    margin-left: 25px;
    margin-right: 25px;
}

#m{
    height: 50px;
    margin-left: 35px;
    margin-top: 10px;
}


#n{
    width: 150px;
    height: 90px;
    margin-left: 35px;
    margin-top: 50px;
}

#o{
    width: 40px;
    left: 174px;
    top: -132px;
    position: relative;
}



#d{
    width: 200px;
    height: 50px;
    clear: left;
    text-align: right;
    font-size: 50px;
    margin-top: 10px;
    box-shadow: -1px -1px 2px black;
    font-family: 'Chathura', sans-serif;
}
#h{
    width: 200px;
    height: 20px;
    clear: left;
    text-align: right;
    font-size: 15px;
    margin-top: 5px;
    padding: 0px;
    box-shadow: -1px -1px 2px black;
}

#e{
    position: relative;
    width: 90px;
    margin-left: 70px;
    top: 35px;
    left: 47px;
}

input[type='button'], button {
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 3px silver;
    margin: 1px;
    background: linear-gradient(to top, silver, white);
    font-weight: bold;
    font-size: 20px;
    border-radius: 10%;
}

input[id="igual"]{
    background: red;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

#c, #ce{
    background: darkgreen;
    color: white;
    text-align: center;
    font-size: 15px;
}

#m1, #cm{
    background: darkblue;
    color: white;
    font-size: 15px;
}

#xy{
    position: relative;
    top: 2px;
}